.App {
  text-align: center;
}

.align-left {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

.response-list {
  margin-left: 25px;
}

.horizontal-line {
  width: 90%;
}

.question-text {
  margin-left: 10px;
}